ltmain.sh
configure
aclocal.m4
autom4te.cache
test-driver
test/*.sh
config.*
libtool
src/gerris2D
src/gerris3D
**/*.deps
**/.deps
**/.libs
**/*.Plo
**/Makefile
**/Makefile.in
doc/autoclass
doc/examples
doc/tutorial
modules/**
!modules/**/
!modules/**/*.h
!modules/**/*.c
tools/**
!tools/**/
!tools/**/*.h
!tools/**/*.c
